<template>
  <v-container fluid>
    <v-row justify="center" class="mt-1">
      <h1>Comment</h1>
    </v-row>
      <v-divider class="mt-1 mx-5"></v-divider>
    <v-row>
      <v-col class="mx-5">
        <v-data-table id="vt" :headers="headers" :items="comments" dense disable-pagination hide-default-footer height="430" fixed-header> 
          <template v-slot:[`item.name`]="{ item }">
            <v-dialog max-width="800">
              <template v-slot:activator="{ on, attrs }">
                <v-btn icon v-bind="attrs" v-on="on">
                  <v-avatar size="30">
                    <img :src="item.url" :alt="item.name">
                  </v-avatar>
                </v-btn>
                {{ item.name }}
              </template>
              <template v-slot:default="dialog">
                <v-card>
                  <v-toolbar color="primary" dark dense>
                    User Detail
                  </v-toolbar>
                  <v-container>
                    <v-row>
                      <v-col>
                        <v-avatar size="80" class="ml-5">
                          <img :src="item.url" :alt="item.name">
                        </v-avatar>
                        <span class="ml-4 text-h5">{{ item.name }}</span>
                        <v-btn class="ml-1" icon @click="copySnack=true; copyChannelUrl(item.channelId)">
                          <v-icon>mdi-content-copy</v-icon>
                        </v-btn>
                        <v-snackbar v-model="copySnack" timeout="2000">
                          Copied channel URL to clipboard
                          <template v-slot:action="{ attrs }">
                            <v-btn color="pink" text v-bind="attrs" @click="copySnack = false">
                              Close
                            </v-btn>
                          </template>
                        </v-snackbar>
                      </v-col>
                    </v-row>
                    <v-divider class="mt-3" ></v-divider>
                    <v-row justify="center">
                      <v-col>
                        <v-data-table :headers="detailHeaders" :items="commentsByUser(item)" dense disable-pagination hide-default-footer height="300" fixed-header>
                          <template v-slot:[`item.comment`]="{ item }">
                            <span v-for="comment in item.comment" :key="comment.no">
                              <v-img v-if="comment.isEmoji" max-height="20" max-width="20" :src="comment.url" :alt="comment.emojiText"></v-img>
                              {{ comment.text }}
                            </span>
                          </template>
                        </v-data-table>
                      </v-col>
                    </v-row>
                  </v-container>
                  <v-divider></v-divider>
                  <v-card-actions class="justify-end">
                    <v-btn text @click="dialog.value = false">
                      Close
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </template>
            </v-dialog>
          </template>
          <template v-slot:[`item.comment`]="{ item }">
            <span v-for="comment in item.comment" :key="comment.no">
              <v-img v-if="comment.isEmoji" max-height="20" max-width="20" :src="comment.url" :alt="comment.emojiText"></v-img>
              {{ comment.text }}
            </span>
          </template>
        </v-data-table>
      </v-col>
    </v-row>
    <v-divider class="mx-5"></v-divider>
    <v-row justify="center">
      <!-- <v-col> -->
        <v-btn class="mt-4" color="primary" @click="scrollDown()" fab>
          <v-icon>mdi-arrow-down-bold</v-icon>
        </v-btn>
      <!-- </v-col> -->
    </v-row>
  </v-container>
</template>

<script>
export default {
  data(){
    return{
      headers: [
        { 
          text: 'No', 
          value: 'no',
          width: "8%",
        },
        { text: 'Time', 
          value: 'time',
          width: "10%",
        },
        {
          text: 'Name',
          value: 'name',
          width: "20%",
          divider: true,
        },
        {
          text:'Comment',
          value:'comment',
        }
      ],
      detailHeaders:[
        { 
          text: 'Time', 
          value: 'time',
          width: "15%",
        },
        {
          text:'Comment',
          value:'comment',
          width: "85%",
        }
      ],
      copySnack: false,
    }
  },
  methods: {
    copyChannelUrl(id){
      navigator.clipboard.writeText("https://www.youtube.com/channel/" + id);
    },
    commentsByUser(item){
      let comments = [];
      this.comments.forEach((rawComment) => {
        if(rawComment.channelId == item.channelId){
          let comment = {
            "time": rawComment.time,
            "comment": rawComment.comment,
          };
          comments.push(comment);
        }
      });
      return comments;
    },
    scrollDown(){
      var vt = document.getElementById("vt");
      var wrapper = vt.querySelector("div.v-data-table__wrapper");
      wrapper.scrollTop = wrapper.scrollHeight;
    }
  },
  computed: {
    comments(){
      let no = 0;
      let comments = this.$_rawComments().map(rawComment => {
        let messages = [];
        let message;
        let messageNo = 0;
        rawComment.message.map(messageItem => {
          if(messageItem.text === void 0){
            message = {
              "no": messageNo++,
              "isEmoji": true,
              "emojiText": messageItem.emojiText,
              "url": messageItem.url
            };
          }else{
            message = {
              "no": messageNo++,
              "isEmoji": false,
              "text": messageItem.text,
            };
          }
          messages.push(message);
        });
        let hours = rawComment.timestamp.getHours();
        let minutes = rawComment.timestamp.getMinutes();
        let seconds = rawComment.timestamp.getSeconds();
        let comment = {
          "no": ++no,
          "time": ('0' + hours).slice(-2) + ":" + ('0' + minutes).slice(-2) + ":" + ('0' + seconds).slice(-2),
          "name": rawComment.author.name,
          "comment": messages,
          "channelId": rawComment.author.channelId,
          "url": rawComment.author.thumbnail.url
        };
        return comment;
      });
      return comments;
    }
  },
  watch: {
    comments(){
      var vt = document.getElementById("vt");
      var wrapper = vt.querySelector("div.v-data-table__wrapper");

      if(wrapper.scrollTop != 0 && wrapper.scrollTop + wrapper.clientHeight >= wrapper.scrollHeight - 20 ){
        this.$nextTick(() => {
          wrapper.scrollTop = wrapper.scrollHeight;
        });
      }
    }
  }
}
</script>

<style>
span {
  display: inline-block;
}
table tr td:nth-of-type(3) {
  max-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
</style>