<template>
  <v-container>
    <v-row justify="center" class="mt-1">
      <h1>Participant</h1>
    </v-row>
    <v-divider class="mt-1"></v-divider>
    <v-row class="my-2">
      <v-col cols="1" class="ml-5">
        <v-btn dark outlined color="blue-grey darken-2" @click="decideStatus()">
          <v-icon>mdi-eye-check</v-icon>
        </v-btn>
     </v-col>
      <v-col cols="1">
        <v-dialog max-width="300">
          <template v-slot:activator="{ on, attrs }">
            <v-btn dark outlined color="blue-grey darken-2" v-bind="attrs" v-on="on">
              <v-icon>mdi-sword-cross</v-icon>
            </v-btn>
          </template>
          <template v-slot:default="dialog">
            <v-card>
              <v-toolbar color="success" dark dense>
                Confirm
              </v-toolbar>
              <v-card-text class="mt-5">
                Are you sure add Match & Watch?
              </v-card-text>
              <v-divider></v-divider>
              <v-card-actions class="justify-end">
                <v-btn text @click="dialog.value = false">
                  Close
                </v-btn>
                <v-btn color="success" text @click="dialog.value = false; addMatchWatch()">
                  OK
                </v-btn>
              </v-card-actions>
            </v-card>
          </template>
        </v-dialog>
      </v-col>
      <v-col cols="1">
        <v-dialog transition= "dialog-bottom-transition" max-width="1000">
          <template v-slot:activator="{ on, attrs }">
            <v-btn outlined color="blue-grey darken-2" dark v-bind="attrs" v-on="on">
              <v-icon>mdi-open-in-new</v-icon>
            </v-btn>
          </template>
          <template v-slot:default="dialog">
            <v-card>
              <v-toolbar color="blue-grey darken-1" dark dense>
                Status List
              </v-toolbar>
              <v-container fluid>
                <v-row>
                  <v-col v-for="status in statusList" :key="status" cols="3">
                    <v-card>
                      <v-card-title>
                        <v-chip :color=statusColor(status) label dark>{{status}}</v-chip>
                      </v-card-title>
                      <v-list-item v-for="name in listByStatus(status)" :key="name" dense>
                        <v-list-item-content>
                          <v-list-item-title>{{name}}</v-list-item-title>
                        </v-list-item-content>
                      </v-list-item>
                    </v-card>
                  </v-col>
                </v-row>
              </v-container>
              <v-card-actions class="justify-end">
                <v-btn text @click="dialog.value = false">
                  Close
                </v-btn>
              </v-card-actions>
            </v-card>
          </template>
        </v-dialog>
      </v-col>
      <v-spacer></v-spacer>
      <v-col cols="4">
        <v-row>
          <v-col cols="4">
            <v-menu offset-y>
              <template v-slot:activator="{ on, attrs }">
                <v-btn outlined color="blue-grey darken-2" dark v-bind="attrs" v-on="on" class="text-capitalize">
                  {{ teamSelected.text }}
                </v-btn>
              </template>
              <v-list>
                <v-list-item v-for="(item, index) in teamList" :key="index" dense @click="teamSelected = item">
                  <v-list-item-title>{{ item.text }}</v-list-item-title>
                </v-list-item>
              </v-list>
            </v-menu>
          </v-col>
          <v-col cols="4">
            <v-text-field v-model="maxMatch" prepend-inner-icon="mdi-sword" label="Max" hide-details type="number" dense></v-text-field>
          </v-col>
          <v-col cols="4">
            <v-text-field v-model="maxWatch" prepend-inner-icon="mdi-eye" label="Max" hide-details type="number" dense></v-text-field>
          </v-col>
        </v-row>
      </v-col>
      <v-spacer></v-spacer>
      <v-col cols="1">
        <v-dialog transition= "dialog-bottom-transition" max-width="600" persistent>
          <template v-slot:activator="{ on, attrs }">
            <v-btn rounded color="success" v-bind="attrs" v-on="on">
              <v-icon>mdi-account-multiple-plus</v-icon>
            </v-btn>
          </template>
          <template v-slot:default="dialog">
            <v-card>
              <v-toolbar color="success" dark dense>
                Add Participant
              </v-toolbar>
              <v-card-text class="mt-5">
                <v-combobox v-model="addSelected" :items="users" label="Participant" multiple chips deletable-chips clearable></v-combobox>
              </v-card-text>
              <v-card-actions class="justify-end">
                <v-btn text @click="dialog.value = false">
                  Close
                </v-btn>
                <v-btn color="success" text @click="dialog.value = false; addParticipant()">
                  Add
                </v-btn>
              </v-card-actions>
            </v-card>
          </template>
        </v-dialog>
      </v-col>
      <v-col cols="1">
        <v-dialog transition= "dialog-bottom-transition" scrollable max-width="400">
          <template v-slot:activator="{ on, attrs }">
            <v-btn rounded color="red" dark v-bind="attrs" v-on="on" class="mr-5">
              <v-icon>mdi-delete</v-icon>
            </v-btn>
          </template>
          <template v-slot:default="dialog">
            <v-card>
              <v-toolbar color="red" dark dense>
                Delete Participant
              </v-toolbar>
              <v-card-text style="height: 300px;">
                <v-checkbox v-for="participant in items" :key="participant.no" v-model="delSelected" :label="participant.name" :value="participant.name" hide-details></v-checkbox>
              </v-card-text>
              <v-card-actions>
                <v-btn color="red" text @click="delSelectAll()">
                  Select All
                </v-btn>
                <v-spacer></v-spacer>
                <v-btn text @click="dialog.value = false">
                  Close
                </v-btn>
                <v-btn color="red" text @click="dialog.value = false; delParticipant()">
                  Delete
                </v-btn>
              </v-card-actions>
            </v-card>
          </template>
        </v-dialog>
      </v-col>
    </v-row>
    <v-divider class="mt-1"></v-divider>
    <v-row>
      <v-col cols="12">
        <v-data-table :headers="headers" :items="itemsDisp" dense disable-pagination hide-default-footer height="430" fixed-header>
          <template v-slot:[`header.match`]="header">
            <v-icon small>mdi-sword</v-icon>{{ header.header.text }}
          </template>
          <template v-slot:[`header.watch`]="header">
            <v-icon small>mdi-eye</v-icon>{{ header.header.text }}
          </template>
          <template v-slot:[`item.drag`]="props">
            <td class="handle">{{ props.item.drag }}</td>
          </template>
          <template v-slot:[`item.status`]="props">
            <v-menu offset-y>
              <template v-slot:activator="{ on, attrs }">
                <v-btn :color=statusColor(props.item.status) dark v-bind="attrs" v-on="on" small>
                  {{ props.item.status }}
                </v-btn>
              </template>
              <v-list>
                <v-list-item v-for="(item, index) in statusList" :key="index" dense @click="statusChange(item, props)">
                  <v-list-item-title>{{ item }}</v-list-item-title>
                </v-list-item>
              </v-list>
            </v-menu>
          </template>
          <template v-slot:[`item.name`]="props">
            <v-edit-dialog :return-value.sync="props.item.name" large>
              {{ props.item.name }}
              <template v-slot:input>
                <v-text-field v-model="props.item.name" label="Edit" single-line counter></v-text-field>
              </template>
            </v-edit-dialog>
          </template>
          <template v-slot:[`item.match`]="props">
            <v-edit-dialog :return-value.sync="props.item.match" large>
              {{ props.item.match }}
              <template v-slot:input>
                <v-text-field v-model="props.item.match" label="試合数" counter type="number"></v-text-field>
                <v-text-field v-model="props.item.conMatch" label="連続試合数" counter type="number"></v-text-field>
              </template>
            </v-edit-dialog>
          </template>
          <template v-slot:[`item.watch`]="props">
            <v-edit-dialog :return-value.sync="props.item.watch" large>
              {{ props.item.watch }}
              <template v-slot:input>
                <v-text-field v-model="props.item.watch" label="観戦数" counter type="number"></v-text-field>
                <v-text-field v-model="props.item.conWatch" label="連続観戦数" counter type="number"></v-text-field>
              </template>
            </v-edit-dialog>
          </template>
          <template v-slot:[`item.note`]="props">
            <v-edit-dialog :return-value.sync="props.item.note" large @save="updateNote(props.item)" persistent>
              <v-chip v-for="note in props.item.note" :key="note" small :color="noteColor(note)" dark>{{ note }}</v-chip>
              <template v-slot:input>
                <v-combobox v-model="props.item.note" :items="noteList" label="Note" multiple chips deletable-chips clearable></v-combobox>
              </template>
            </v-edit-dialog>
          </template>
        </v-data-table>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import Sortable from "sortablejs";

const STATUS_JOIN = "参加";
const STATUS_WATCH = "観戦";
const STATUS_WAIT = "参加待ち";
const STATUS_NO_JOIN = "不参加";
const STATUS_REQ_JOIN = "参加希望";

const NOTE_OWNER = "Owner";
const NOTE_JOIN = "次参加";
const NOTE_BYE = "次抜ける";
const NOTE_CHEESE = "🧀";

export default {
  data(){
    return{
      headers: [
        { 
          text: '', 
          value: 'drag',
          width: "5%",
        },
        {
          text: 'Status',
          value: 'status',
          width: "15%",
          divider: true,
        },
        {
          text: 'Name',
          value: 'name',
          divider: true
        },
        {
          text:'Match',
          value:'match',
          width: "12%",
        },
        {
          text:'Watch',
          value:'watch',
          width: "13%",
          divider: true
        },
        {
          text:'Note',
          value:'note',
          width: "25%",
        }
      ],
      items: [
      { 
          drag:"::",
          no: '1', 
          status: STATUS_JOIN, 
          name: 'name', 
          match: '0', 
          watch: '0',
          note: [NOTE_OWNER],
          conMatch: 0,
          conWatch: 0, 
        },
      ],
      itemsDisp: [
      { 
          drag:"::",
          no: '1', 
          status: STATUS_JOIN, 
          name: 'name', 
          match: '0', 
          watch: '0',
          note: [NOTE_OWNER],
          conMatch: 0,
          conWatch: 0, 
        },
      ],
      teamList: [
        {
          num: 1,
          text: "NoTeam",
        },
        {
          num: 2,
          text: "2Team",
        },
        {
          num: 3,
          text: "3Team",
        },
        {
          num: 4,
          text: "4Team",
        },
      ],
      statusList: [
        STATUS_JOIN,
        STATUS_WATCH,
        STATUS_WAIT,
        STATUS_NO_JOIN,
      ],
      noteList: [
        NOTE_OWNER,
        NOTE_JOIN,
        NOTE_BYE
      ],
      maxMatch: 8,
      maxWatch: 2,
      addSelected: [],
      delSelected: [],
      teamSelected: {
          num: 2,
          text: "2Team",
      },
      sortable: null,
    }
  },
  methods: {
    test(){
      console.log("aho")
    },
    decideStatus(){
      this.items.map((value, i) => {
        value.no = i + 1;
      });
      let sortItems = this.items.slice();
      sortItems.sort((a, b) =>{
        //試合数多い順
        if(a.match != b.match){
          return b.match - a.match
        }
        //観戦数少ない順
        if(a.watch != b.watch){
          return a.watch - b.watch
        }
        //連続試合数試合数多い順
        if(a.conMatch != b.conMatch){
          return b.conMatch - a.conMatch
        }
        //連続観戦数少ない順
        if(a.conWatch != b.conWatch){
          return a.conWatch - b.conWatch
        }
        //No少ない順
        if(a.no != b.no){
          return a.no - b.no
        }
      });

      let watchNum = 0;
      let matchNum = 0;

      //反転
      sortItems.reverse();
      
      let participaitonNum = 0;
      sortItems.forEach(value => {
        if(value.status != STATUS_NO_JOIN && value.status != STATUS_REQ_JOIN){
          participaitonNum++;
        }
      });

      let maxMatchByTeam;
      if(participaitonNum < this.maxMatch){
        maxMatchByTeam = participaitonNum - (participaitonNum % this.teamSelected.num);
      }else{
        maxMatchByTeam = this.maxMatch - (this.maxMatch % this.teamSelected.num);
      }
      
      let tmpMatch;
      let tmpWatch;

      sortItems.forEach((value) => {
        const index = this.items.indexOf(value)
        if(this.items[index].status == STATUS_NO_JOIN || this.items[index].status == STATUS_REQ_JOIN){
          return;
        }

        if(matchNum < maxMatchByTeam){
          this.items[index].status = STATUS_JOIN;
          matchNum++;
          if(matchNum == maxMatchByTeam){
            tmpMatch = this.items[index];
          }
        }else if(watchNum < this.maxWatch){
          this.items[index].status = STATUS_WATCH;
          watchNum++;
          if(watchNum == this.maxWatch){
            tmpWatch = this.items[index];
          }
        }else{
          this.items[index].status = STATUS_WAIT;
        }
      });

      let owner = this.items.find(i => i.note.find(j => j == NOTE_OWNER));
      if(owner != null){
        if(owner.status == STATUS_WAIT){
          const ownerIndex = this.items.indexOf(owner)
          if(tmpWatch != null){
            const watchIndex = this.items.indexOf(tmpWatch)
            this.items[ownerIndex].status = STATUS_WATCH;
            this.items[watchIndex].status = STATUS_WAIT;
          }else{
            const matchIndex = this.items.indexOf(tmpMatch)
            this.items[ownerIndex].status = STATUS_JOIN;
            this.items[matchIndex].status = STATUS_WAIT;
          }
        }
      }
      this.itemsDisp = [];
      this.$nextTick(() => {
        this.itemsDisp = this.items.slice();
      });

    },
    addMatchWatch(){
      this.items.forEach((value) => {
        if(value.status == STATUS_JOIN){
          value.match++;
          value.conMatch++;
          value.conWatch = 0;
        }
        if(value.status == STATUS_WATCH || value.status == STATUS_WAIT){
          value.watch++;
          value.conWatch++;
          value.conMatch = 0;
        }
      });
      this.itemsDisp = [];
      this.$nextTick(() => {
        this.itemsDisp = this.items.slice();
      });
    },
    listByStatus(status){
      let resultList = [];
      this.items.forEach((value) => {
        if(value.status == status){
          resultList.push(value.name);
        }
      });
      return resultList;
    },
    statusChange(status, props){
      const index = this.items.indexOf(props.item)
      this.items[index].status = status;
      if(status == STATUS_JOIN && this.items[index].note.indexOf(NOTE_JOIN) != -1){
        const indexJoin = this.items[index].note.indexOf(NOTE_JOIN);
        this.items[index].note.splice(indexJoin, 1);
      }
      if(status == STATUS_NO_JOIN && this.items[index].note.indexOf(NOTE_BYE) != -1){
        const indexJoin = this.items[index].note.indexOf(NOTE_BYE);
        this.items[index].note.splice(indexJoin, 1);
      }
      this.itemsDisp = [];
      this.$nextTick(() => {
        this.itemsDisp = this.items.slice();
      });
    },
    statusColor(status){
      if(status == STATUS_JOIN){
        return "green darken-1";
      }else if(status == STATUS_WATCH){
        return "red";
      }else if(status == STATUS_WAIT){
        return "yellow darken-4";
      }else if(status == STATUS_NO_JOIN){
        return "blue-grey darken-1";
      }else if(status == STATUS_REQ_JOIN){
        return "primary";
      }
      return "grey darken-3";
    },
    noteColor(note){
      if(note == "Owner"){
        return "yellow darken-4";
      }else if(note == NOTE_JOIN){
        return "success";
      }else if(note == NOTE_BYE){
        return "red";
      }else if(note == NOTE_CHEESE){
        return "primary";
      }
      return "blue-grey darken-1";
    },
    addParticipant(){
      let lastNo = 0;
      if(this.items.length != 0){
        lastNo = this.items.slice(-1)[0].no;
      }
      this.addSelected.forEach((value) => {
        let participant = {
          "drag": "::",
          "no": ++lastNo,
          "status": STATUS_JOIN,
          "name": value,
          "match": 0,
          "watch": 0,
          "note": [],
          "conMatch": 0,
          "conWatch": 0, 
        };
        this.items.push(participant);
      });
      this.addSelected = [];
      this.itemsDisp = [];
      this.$nextTick(() => {
        this.itemsDisp = this.items.slice();
      });
    },
    delSelectAll(){
      let isAlreadeyAllSelected = this.delSelected.length == this.items.length
      this.delSelected = [];

      if(isAlreadeyAllSelected){
        return;
      }

      this.items.forEach((value) => {
        this.delSelected.push(value.name);
      });
    },
    delParticipant(){
      this.delSelected.forEach((value) => {
        let item = this.items.find(i => i.name == value);
        const index = this.items.indexOf(item);
        if(!(item.note.find(i => i == NOTE_OWNER))){
          this.items.splice(index, 1);
        }else{
          this.items[index].drag = "::";
          this.items[index].no = 1;
          this.items[index].status = STATUS_JOIN;
          this.items[index].name = item.name;
          this.items[index].match = 0;
          this.items[index].watch = 0;
          this.items[index].conMatch = 0;
          this.items[index].conWatch = 0;
          this.items[index].note = [NOTE_OWNER];
        }
      });
      this.delSelected = [];
      this.itemsDisp = [];
      this.$nextTick(() => {
        this.itemsDisp = this.items.slice();
      });
    },
    updateNote(item){
      if(item.note.find(i => i == NOTE_OWNER)){
        let ownerArray = this.items.filter(i => i.note.find(j => j == NOTE_OWNER));
        let owner = null;
        if(ownerArray != null && ownerArray.length > 0){
          ownerArray.forEach((value) => {
            if(value != item){
              owner = value;
            }
          });
        }
        let ownerIndex = -1;
        if(owner != null){
          ownerIndex = this.items.indexOf(owner);
        }
        console.log(ownerIndex);

        if(ownerIndex != -1){
          this.items[ownerIndex].note.splice(this.items[ownerIndex].note.indexOf(NOTE_OWNER), 1);
        }
      }
      this.itemsDisp = [];
      this.$nextTick(() => {
        this.itemsDisp = this.items.slice();
      });
    },
    updateSortable(){
      let table = document.querySelector(".v-data-table tbody");
      this.sortable = Sortable.create(table, {
        animation: 150,
        handle: ".handle",
        onEnd: ({newIndex, oldIndex}) => {
          const rowSelected = this.items.splice(oldIndex, 1)[0];
          this.items.splice(newIndex, 0, rowSelected);
          // window.location.reload(true);
        },
      });
    },
    requestJoin(userName){
      let user = this.items.find(i => i.name == userName);
      if(user != null){
        if(user.status != STATUS_JOIN){
          user.status = STATUS_REQ_JOIN;
        }
        if(!user.note.includes(NOTE_JOIN)){
          user.note.push(NOTE_JOIN);
        }
      }else{
        this.addSelected.push(userName);
        this.addParticipant();
        let user = this.items.find(i => i.name == userName);
        user.status = STATUS_REQ_JOIN;
        user.note.push(NOTE_JOIN);
      }
      this.itemsDisp = [];
      this.$nextTick(() => {
        this.itemsDisp = this.items.slice();
      });
    },
    requestBye(userName){
      let user = this.items.find(i => i.name == userName);
      if(user != null && !user.note.includes(NOTE_BYE)){
        user.note.push(NOTE_BYE);
      }
      this.itemsDisp = [];
      this.$nextTick(() => {
        this.itemsDisp = this.items.slice();
      });
    },
    requestCheese(userName){
      let user = this.items.find(i => i.name == userName);
      if(user != null && !user.note.includes(NOTE_CHEESE)){
        user.note.push(NOTE_CHEESE);
      }
      this.itemsDisp = [];
      this.$nextTick(() => {
        this.itemsDisp = this.items.slice();
      });
    }
  },
  computed: {
    users(){
      let users = this.$_rawComments().map(rawComment => {
        return rawComment.author.name;
      });
      return users;
    },
    comments(){
      let comments = this.$_rawComments().map(rawComment => {
        let message = "";
        rawComment.message.map(messageItem => {
          if(messageItem.text !== void 0){
            message += messageItem.text
          }
        });
        let comment = {
          "name": rawComment.author.name,
          "comment": message,
        };
        return comment;
      });
      return comments;
    },
  },
  mounted() {
    if(localStorage.getItem('items')){
      this.items = JSON.parse(localStorage.getItem('items'));
      this.itemsDisp = this.items.slice();
    }
    if(localStorage.getItem('maxMatch')){
      this.maxMatch = localStorage.getItem('maxMatch');
    }
    if(localStorage.getItem('maxWatch')){
      this.maxWatch = localStorage.getItem('maxWatch');
    }
    if(localStorage.getItem('teamSelected')){
      this.teamSelected = JSON.parse(localStorage.getItem('teamSelected'));
    }
    this.updateSortable();
  },
  watch: {
    items: {
      handler: function(newName){
        localStorage.setItem('items', JSON.stringify(newName));
      },
      deep: true
    },
    maxMatch(newName) {
      localStorage.setItem('maxMatch', newName);
    },
    maxWatch(newName) {
      localStorage.setItem('maxWatch', newName);
    },
    teamSelected(newName) {
      localStorage.setItem('teamSelected', JSON.stringify(newName));
    },
    comments(newName, oldName){
      if(oldName.length > 0){
        let newComments = newName.slice(oldName.length);
        newComments.forEach((value)=>{
          if(value.comment.indexOf('/join') != -1){
            this.requestJoin(value.name);
          }
          if(value.comment.indexOf('/bye') != -1){
            this.requestBye(value.name);
          }
          if(value.comment.indexOf('/cheese') != -1){
            this.requestCheese(value.name);
          }
        });
      }
    }
  }
}
</script>

<style>
.handle {
  cursor: move !important;
  cursor: -webkit-grabbing !important;
}
</style>