<!-- 
cd D:\git\yoproject2\yool\
npm run electron:serve

-->
<template>
  <v-app>
    <v-app-bar color="primary" dark app clipped-left>
      <v-app-bar-nav-icon @click="drawer=!drawer"></v-app-bar-nav-icon>
      <v-toolbar-items class="ml-1">
        <v-btn text @click="toJump(titleLink)" class="text-capitalize">Yool</v-btn>
      </v-toolbar-items>
      <v-toolbar-items class="ml-4">
        <v-progress-circular v-if="isConnectionProgress" indeterminate class="mt-3" size="28"></v-progress-circular>
        <v-btn v-else-if="connectionStatus=='success'" icon :color=connectionStatus width="32" class="ml-n1" @click="disconnect()">
          <v-icon>mdi-connection</v-icon>
        </v-btn>
        <v-icon v-else :color=connectionStatus class="mr-1">mdi-connection</v-icon>
      </v-toolbar-items>
      <v-text-field label="LiveChatUrl" hint="https://www.youtube.com/watch?v=xxxxxxxxxxx or Channel ID" class="ml-2" v-model="liveChatUrl"
        persistent-hint dense append-icon="mdi-send" clearable clear-icon="mdi-close-circle" single-line
        @click:append="connect(liveChatUrl)" @keydown.enter="connect(liveChatUrl)">
      </v-text-field>
    </v-app-bar>

    <v-navigation-drawer app v-model="drawer" clipped>
      <v-container>
        <v-list-item>
          <v-list-item-content>
            <v-list-item-title class="title grey--text text--darken-2">
              Tools
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider></v-divider>

        <v-list dense nav rounded flat>
          <v-list-item v-for="navList in navLists" :key="navList.name" :to="navList.link">
            <v-list-item-icon>
              <v-icon>{{ navList.icon }}</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title>{{ navList.name }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-container>
    </v-navigation-drawer>
    
    <v-main>
      <router-view />
    </v-main>
    
  </v-app>
</template>

<script>
import axios from 'axios';
import { disconnect } from 'process';
const { LiveChat } = require("youtube-chat")

// // リクエスト インターセプターを追加します
// axios.interceptors.request.use(function (config) {
//   // リクエストが送信される前の処理
//   console.log("aho")
//   return config;
// }, function (error) {
//   // リクエスト エラーの処理
//   return Promise.reject(error);
// });

export default {
  data(){
    return{
      drawer: null,
      titleLink: "/",
      // liveChatUrl: "UCHB-wmSS38Vf3Nu7UJAKoHw",
      liveChatUrl: "UCDsby1YyrHk6nG-KORKPrVA",
      apiKey: "AIzaSyARx_t9oc9ILXrLsQGpOExLupHWg2rDtGQ",
      connectionStatus: "error",
      isConnectionProgress: false,
      navLists: [
        {name: 'Home', icon: 'mdi-home', link: '/home'},
        {name: 'Comment', icon: 'mdi-comment-processing-outline', link: '/comment'},
        {name: 'Participant', icon: 'mdi-account-multiple', link: '/participant'}
      ],
      liveChat: null
    }
  },
  methods: {
    toJump(link) {
      if(this.$route.path != link){
        this.$router.push(link) 
      }
    },
    async connect(url){
      this.isConnectionProgress = true;
      this.$_setRawComments([]);
      if(this.liveChat != null){
        this.liveChat.stop();
        this.liveChat = null;
      }

      if(this.liveChat == null){
        if(!url){
          console.log("値が入力されていません")
          this.isConnectionProgress = false;
          this.connectionStatus = "error";
          return;
        }
        var m = url.match(/https:\/\/www.youtube.com\/watch\?v=(.{11})/);
        if(!m || !m[1]){
          console.log("liveIdでは解決できませんでした channelIDでの解決を試みます: ", url);
          this.liveChat = new LiveChat({channelId: url})
        }else{
          var id = m[1];
          console.log(id)
          this.liveChat = new LiveChat({liveId: id})
        }
      }

      if(this.liveChat == null){
        console.log("LiveChatイベントの作成に失敗しました 接続先の形式を見直してください");
        this.isConnectionProgress = false;
        this.connectionStatus = "error";
        return;
      }

      // チャットの取得開始時に発火するイベント
      this.liveChat.on("start", (liveId) => {
        this.connectionStatus = "success";
        console.log("start");
        console.log(liveId);
      });

      // チャット取得終了時に発火するイベント
      // エラーで終了する場合も発火する
      this.liveChat.on("end", (reason) => {
        console.log("end");
        console.log(reason);
      });

      // メインです
      // チャット1件ごとに発火される
      this.liveChat.on("chat", (chatItem) => {
        console.log("chat");
        console.log(chatItem);
        this.$_rawComments().push(chatItem);
      });

      // エラー発生時に発火
      // EventEmitterの仕様でこれがcatchの役割なので書いていないとエラー時に停止する
      this.liveChat.on("error", (err) => {
        this.connectionStatus = "error";
        console.log("error");
        console.log(err);
      });

      const ok = await this.liveChat.start()
      if (!ok) {
        console.log("Failed to start, check emitted error")
      }
        this.isConnectionProgress = false;

      // this.isConnectionProgress = true;
      // var m = url.match(/https:\/\/www.youtube.com\/watch\?v=(.{11})/);
      // if(!m || !m[1]){
      //   console.log("LiveChatUrlの形式が違います: ", url);
      //   this.isConnectionProgress = false;
      //   this.connectionStatus = "error";
      //   return;
      // }
      // var id = m[1];
      // console.log(id)
      // try {
      //   const responseChatId = await axios.get(
      //     'https://www.googleapis.com/youtube/v3/videos?part=liveStreamingDetails&id=' + id + '&key='+ this.apiKey
      //   );
      //   console.log(responseChatId);
      //   var activeLiveChatId = responseChatId.data.items[0].liveStreamingDetails.activeLiveChatId;
      //   console.log(activeLiveChatId);

      //   const responseChat = await axios.get(
      //     'https://youtube.googleapis.com/youtube/v3/liveChat/messages?liveChatId=' + activeLiveChatId + '&part=authorDetails,snippet&hl=ja&key='+ this.apiKey
      //   );
      //   console.log(responseChat);
      //   this.$_setRawComments(responseChat.data.items);
      //   this.connectionStatus = "success";
      // } catch (error) {
      //   console.log(error);
      //   this.connectionStatus = "error";
      // }finally{
      //   this.isConnectionProgress = false;
      // }
    },
    disconnect(){
      console.log('disconnect')
      this.connectionStatus = "error";
      if(this.liveChat != null){
        this.liveChat.stop();
        this.liveChat = null;
      }
    },
  },
  created : function(){
    console.log('created')
    if(this.liveChat != null){
      this.liveChat.stop();
      this.liveChat = null;
    }
    
    if(this.$route.path != "/"){
        this.$router.push("/") 
      }
  },
  
}
</script>